.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%;width:auto}
